#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 80vh;
}

.container {
  width: 60vw;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    gap: 2em;

    .input-card {
      position: relative;
      padding: 2.8em;
      // border: 1px solid grey;
      border-radius: 8px;
  
      label{
        position: absolute;
        top: 8%;
        transform: translateX(-50%);
        font-weight: 700;
        // color: #6cc3df;
        font-size: 1.4em;
      }
  
      .d-flex{
        height: 2em;
  
        select{
          height: 90%;
          min-width: 5em;
        }
    
        input{
          width: 10em;
          padding: 5px 10px;
          margin: 12px 0px;
        }
      }
  
    }
  
    .card-from{
      border: 1px solid #6cc3df;
  
      label{
        color: #6cc3df;
      }
    }
  
    .card-to{
      border: 1px solid #6cdf71;
  
      label{
        color: #6cdf71;
      }
    }

    .handler-section{
      border: 1px solid #a3a3a3;
      border-radius: 6px;
      padding: 2em;

      .actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8em;
  
        .input-group > label{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.8em;
        }
  
        button{
          width: 100%;
        }
      }
    }
  }
}

.message-container{
  position: absolute;
  bottom: 10%;
  border: 1px solid red;
  width: 25vw;
  border-radius: 10px;
  padding: 20px 5px;
  transform: translateX(-50%);
  left: 50%;

  h3, span {
    display: block;
    margin: 0;
    margin-left: 1em;
    text-align: left;
  }

  span {
    margin-top: 1em;
  }
}
